@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-image: url(../assets/imgs/luxa.org-opacity-changed-luis-alberto-sanchez-terrones-7cTsvt25GuY-unsplash.jpg);
  background-size: 100vw;
  background-repeat: no-repeat;

  

}

:root {
  --tamanho-header: 80px;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 65px;
}

.container {
  display: flex;
  width: 80%;
  margin: auto;
}

.header {
  height: var(--tamanho-header);
  /* border-bottom: 2px solid #32b9cd; */
}

.header .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;


}

.header a {
  text-decoration: none;
  color: #fff;
  white-space: nowrap;
  margin: 0 36px;

}

.agora {

  white-space: nowrap;
  /* Evita a quebra de palavras */
  margin: 0 36px;
  /* Adiciona um espaço entre os itens */
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: #fff;
  width: auto;
}

.titulo {
  color: #fff;
  width: fit-content;
  font-weight: 500;
}

.header h1 {
  margin: 0;
}

/* BANNER */

.banner {
  /* height: var(--tamanho-banner); */
  color: white;
  /* background-image: url('../assets/imgs/bg-jelly-fish-para-home.png'); */
  background-size: cover;
  height: 100vh;
}

.banner .container {
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
  flex-direction: column;

}

.banner .container p {
  width: 50%;
  margin: 0;
  padding: 0;
  font-size: 36px;
}

.banner .container button {
  margin-top: 20px;
  /* Adicionando margem acima do botão */
}

.banner .container span {
  font-weight: 800;
}

/* MISSÃO VISÃO VALORES */

.social {
  display: flex;
  background-color: #e5e5e5;

}

.social .container {
  justify-content: center;
}

.box img {
  width: 170px;
}

.social .container .boxes {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px 0;
}

.social p {
  text-align: center;
}

.social button {
  text-align: center;
  width: 247px;
  height: 60px;
  border-radius: 100px;
  background-color: transparent;
  cursor: pointer;

}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* FOOTER */

.footer {
  background-color: #e5e5e5;
  color: #000000; /* Texto preto */
  padding: 20px 0;
  
}

.footer .container {
  display: flex;
  justify-content: space-between;
}

.footer-left, .footer-middle, .footer-right {
  flex: 1;
  text-align: left;
}

.footer-title {
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 10px; /* Espaço entre o título e o conteúdo */
}

.footer-subtitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px; /* Espaço entre o título e a lista */
}

.footer-list {
  list-style-type: none; /* Removendo os pontos da lista */
  padding: 0;
}

.footer-list li {
  margin-bottom: 5px; /* Espaço entre os itens da lista */
}

.footer-list a {
  color: #000000; /* Cor do texto preto */
  text-decoration: none; /* Removendo sublinhado */
}

.footer a {
  color: #000; /* Defina a cor desejada para os links */
  text-decoration: none; /* Remova o sublinhado dos links */
}

 ul {
  list-style: none;
  padding-left: 0;
}

.companhia-info {
  font-size: 16px;
  font-weight: normal; /* Fonte light */
}




/* LOGIN */

.login {
  height: var(--tamanho-login);
  /* background-image: url('../assets/imgs/luis-alberto-sanchez-terrones-7cTsvt25GuY-unsplash.jpg'); */
  background-size: cover;
}

.login .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  width: 50%;
  background-color: #e5e5e5;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: palevioletred;
  flex-direction: column;
  height: fit-content;
  padding: 20px 0;
}

.card h2 {
  margin: 0;
  font-size: 30px;
}

.formulario {
  display: flex;
  height: 90%;
  width: 80%;
  justify-content: space-around;
  flex-direction: column;
}

.formulario span {
  font-size: 15px;
  font-weight: 800;
}

.formulario input {
  border: 2px solid #32b9cd;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.formulario select {
  border: 2px solid #32b9cd;
  background-color: white;
  color: gray;
  height: 36px;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5px 0;
}

.botao {
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background-color: #e6005a;
  width: 120px;
  height: 30px;
  align-self: center;
  margin-top: 20px;
}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}

/* FORMULARIO */

.alerta_erro {
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #e6005a 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro {
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  border: 2px solid #32b9cd;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #e6005a;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* SIMULADOR */

.simulador {
  color: white;
}

.simulador .container {
  flex-direction: column;
  overflow: scroll;
  height: var(--tamanho-simulador);
}

/* ALERTA */

#alerta {
  position: absolute;
  right: 0;
  bottom: 0;
}

.mensagem-alarme {
  background-color: white;
  border-radius: 5px;
  width: 300px;
  height: 80px;
  margin: 10px;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mensagem-alarme h3 {
  font-size: 14px;
  margin: 0;
}

.mensagem-alarme .informacao {
  width: 66%;
}

.alarme-sino {
  width: 48px;
  height: 48px;
  animation-name: bell;
  animation-duration: 4s;
  background-image: url('https://cdn-icons-png.flaticon.com/512/1157/1157000.png');
  background-size: cover;
  animation-iteration-count: infinite;
}

@keyframes bell {
  0% {
    transform: rotate(25deg)
  }

  25% {
    transform: rotate(-25deg)
  }

  50% {
    transform: rotate(25deg)
  }

  75% {
    transform: rotate(-25deg)
  }

  100% {
    transform: rotate(25deg)
  }
}

#buttonVersiculo {
  width: 247px;
  height: 60px;
  border: #fff 1px solid;
  border-radius: 100px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
}

#btn-cadastrar {
  width: 192px;
  height: 48px;
  border: 0;
  border-radius: 100px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  /* Cor de fundo com fill de 10 */
  backdrop-filter: blur(24px);
  /* Efeito de desfoque */
  cursor: pointer;

}

#btn-login {
  width: 192px;
  height: 48px;
  border: 0;
  border-radius: 100px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  /* Cor de fundo com fill de 10 */
  backdrop-filter: blur(24px);
  /* Efeito de desfoque */
  cursor: pointer;

}

.outra-secao {
  height: 60vh;
  background-color: #43382A;
  display: flex;
  align-items: center;
  justify-content: center;
}

.conteudo {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
}



.texto-esquerda {
  text-align: right;
}

.texto-direita {
  text-align: left;
}



.titulo {
  color: #fff;
  font-size: 40px;
  font-weight: bold;
}

.descricao {
  color: #fff;
  font-size: 18px;
  line-height: 1.5;
}

.linha-vertical {
  border-left: 2px solid #fff;
  height: 80%;
  /* Altura ajustável */
}

/* Adicione este estilo para a altura do conteúdo */
.conteudo {
  height: 80%;
  /* Altura ajustável */
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
}

/* Adicione este estilo para o espaçamento entre os elementos */
.texto-esquerda,
.linha-vertical,
.texto-direita {
  margin: 0 20px;
  /* Espaçamento ajustável */
}

/* Adicione este estilo para a borda superior e inferior da linha vertical */
.linha-vertical {
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

/* Adicione este estilo para centralizar verticalmente o texto */
.texto-esquerda,
.texto-direita {
  display: flex;
  align-items: center;
}

#versiculoSelecionado {
  font-family: Arial, sans-serif;
  font-size: 18px;
  margin-top: 20px;
}

.versiculos-diarios {
  background-color: #221d18;
  color: #fff;
  padding: 50px 0;
  text-align: center;
  background-image: url(../assets/imgs/luxa.org-opacity-changed-istockphoto-1464383776-612x612.jpg);
  background-repeat: no-repeat;
  background-size: 100vw;
  
}

.versiculo-diario-conteudo {
  margin-top: 20px;
}

#versiculo-texto {
  font-size: 24px;
  font-weight: bold;
}

#versiculo-referencia {
  font-size: 18px;
  margin-top: 10px;
}

#buttonVersiculo {
  margin-top: 30px;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 25px;
  background-color: #fff;
  color: #43382A;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, opacity 0.3s; /* Adicionando a transição de opacidade */
  opacity: 0.7; /* Definindo a opacidade inicial */
}

#buttonVersiculo:hover {
  background-color: #fff2e6;
}
